name: Lint
on:
  pull_request:
  workflow_dispatch:
  push:

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup node.js
        uses: actions/setup-node@v5
        with:
          node-version: '22.21.1'
      - name: Install npm package
        run: "npm install --global json5"
      - name: Validate
        run: |
          EXIT_CODE=0
          for f in $(find . -type f -name '*.json5' -or -name '*.json'); do
            echo "Validating ${f}"
            json5 --validate ${f}
            if [[ "$?" != "0" ]]; then
              EXIT_CODE=1
            fi
          done
          exit ${EXIT_CODE}
